.repos {
    width: 80%;
    min-height: 20vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.6rem;
    .repo-card {
        box-shadow: 0 0 .5rem rgba(255, 255, 255, .1);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.6rem 0rem;
        border: $Border-Highlight solid 1px;
        border-radius: .5rem;
        margin: 1.6rem 0rem;
        width: 100%;
        .min-heading {
            padding: 1.6rem 0rem;
            font-weight: 600;
            font-size: 2rem;
            text-align: center;
        }
        .repo-link {
            .repo-btn {
                border: $Border-Highlight solid 1px;
                border-radius: .5rem;
                text-decoration: none;
                color: #A78BFA;
                font-size: 1.6rem;
                padding: 1rem;
                & i {
                    font-size: 2rem;
                }
            }
        }
    }
}