
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$default-font: "Manrope", serif;

// Primary Colors (Backgrounds and Text)
$Main-Background: #3d3d3d;
$Background-Secondary-Cards-Containers:#0D1117;

$Background-Tertiary-Subtle-Backgrounds: #21262D;
$Text-Primary: #C9D1D9;
$Text-Secondary: #8B949E;
$Text-Muted: #6E7681;

// Borders
$Border-Subtle: #30363D;
$Border-Highlight: #6E7681;
// $Interactive Elements (Buttons, Links, etc.)
$Primary-Button-Background: #238636;
$Primary-Button-Text: #FFFFFF;
$Hover-Button-Interactive: #2EA043;
$Link: #58A6FF;
$Link-Hover: #1F6FEB;
// $black-50: #f6f6f6;
// $black-100: #e7e7e7;
// $black-200: #d1d1d1;
// $black-300: #b0b0b0;
// $black-400: #888888;
// $black-500: #6d6d6d;
// $black-600: #5d5d5d;
// $black-700: #4f4f4f;
// $black-800: #454545;
// $black-900: #3d3d3d;
// $black-950: #000000;
    
    